<!DOCTYPE html>
<html>
<head>
		<title>Twitter Search</title>
	 	 <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	  	  <style>
	     .horizontal-navi{box-shadow: 0 6px 8px -6px #e3e3e3;width: 102.5%;background-color: #ffffff;}
	      .horizontal-navi > ul > li > img{    margin-left: 130px;}
         .sbutton{    color: white;background-color: #1dabdd;border: none;padding: 4px;width: 70px;}
         .sbutton:hover{box-shadow: }
        .sinput{background: url(search.png) no-repeat scroll 7px 7px;padding-left:30px;border: 1px solid black;    border: 1px solid black;width: 580px;}
	   
	      </style>
</head>

<body>
	
    <center>
          <img class="one" src="ts.png" style="width:30%;margin-top:75px">
        </center>
        <br>
        <br>
        <center>
        <form style="margin-top:5px;" method="post">
       <input type="text" name="search" class="sinput"><br><br>
       <input type="submit" value="Search" class="sbutton">
       </form>
       <center>
    
  

 
</body>
</html>